aioflask==0.4.0
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.8.1
aniso8601==9.0.1
anyio==3.5.0
APScheduler==3.9.1.post1
ariadne==0.15.0
asgiref==3.5.1
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.6.0
backports.zoneinfo==0.2.1
bcrypt==3.2.0
CacheControl==0.12.11
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
distlib==0.3.4
filelock==3.6.0
firebase==3.0.1
firebase-admin==5.3.0
Flask==2.1.1
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
frozenlist==1.3.0
google-api-core==2.8.2
google-api-python-client==2.58.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.6.1
google-cloud-storage==2.5.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
graphql-core==3.2.1
greenlet==1.1.2
greenletio==0.9.0
grpcio==1.47.0
grpcio-status==1.47.0
gunicorn==20.1.0
h11==0.13.0
httplib2==0.20.4
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.9.0
itsdangerous==2.1.2
Jinja2==3.1.1
libsass==0.21.0
Mako==1.2.1
MarkupSafe==2.1.1
msgpack==1.0.4
multidict==6.0.2
passlib==1.7.4
pendulum==2.1.2
platformdirs==2.5.0
proto-plus==1.22.1
protobuf==4.21.5
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydash==5.1.0
pyee==9.0.4
PyJWT==2.3.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==5.4.1
requests==2.27.1
rsa==4.9
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.35
starlette==0.19.0
telepot==12.7
toml==0.10.2
tomli==2.0.1
typing_extensions==4.2.0
tzdata==2022.6
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
virtualenv==20.13.1
Werkzeug==2.0.0
yarl==1.7.2
zipp==3.8.0
